# Exec
/bin/
/inventory_tool
/obj/

# App Data
/json/
/cache/
/dat/

# Internal
.*.swp
/test/

# Alire
/alire/
/config/

# Local Alire Crates
/alire_local/aws-23.0.0/
/alire_local/aws-23.0.0.zip
/alire_local/gtkada-23.0.0/
/alire_local/gtkada-23.0.0.zip
