* {
	font: 12pt "Noto Sans UI";
}
/* Sufficient Width */
progress, trough {
	min-height: 5px;
}

separator {
	min-height: 2px;
}

/* Background Style */
#divider {
	background-image: linear-gradient(45deg, slategrey, dimgrey);
}

button {
	background: rgba(0, 0, 0, 0);
}

/* Rounded Corners */
popover, #item_details_box {
	border-radius: 10px;
}

#item_details_box box, #socket_box box {
	border-radius: 10px;
}

/* Style by Rarity */

/* Also used for Unknown and Currency */
#item_details_name_type_box_basic, #socket_name_type_box_basic {
	background-color: #c1bdb4;
	color: black;
}

#item_details_name_type_box_common, #socket_name_type_box_common {
	background-color: #366f42;
	color: white;
}

#item_details_name_type_box_rare, #socket_name_type_box_rare {
	background-color: #5076a3;
	color: white;
}
#item_details_name_type_box_superior, #socket_name_type_box_superior {
	background-color: #522f65;
	color: white;
}

#item_details_name_type_box_exotic, #socket_name_type_box_exotic {
	background-color: #ceae33;
	color: white;
}
